<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>{% extends "base.html" %}

{% block the_body %}

<div>
<h2>RULES</h2>
<hr>
	<ul>
		<li>You will recieve a source word upon clicking play.
		</li><li>You must make 7 words of at least 3 letters from this source word.
		</li><li>Guesses are separated by non-alphabet characters. Protip: Use return.
		</li><li>Time is a factor in scoring, so try to work quickly.
		</li><li>Try to make it to the high scores!
	</li></ul>
<hr>
	<form action="{{ score_url }}">
	<input value="SCORES" type="SUBMIT">
	</form>
	
	<form action="{{ playgame_url }}">
	<input value="PLAY" autofocus="true" type="SUBMIT">
	</form>

</div>

{% endblock %}
</body></html>
